{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="show_table col-md-9">

            {% for table in baidu %}
                {{ table|safe }}
            {% endfor %}

            {% for table in sogou %}
                {{ table|safe }}
            {% endfor %}
            {% for table in shenma %}
                {{ table|safe }}
            {% endfor %}
            {% for table in d360 %}
                {{ table|safe }}
            {% endfor %}
            {% for table in dhz %}
                {{ table|safe }}
            {% endfor %}
            {% for table in dswt %}
                {{ table|safe }}
            {% endfor %}
    </div>
</div>
{% endblock %}